---
import Card from "@components/Card.jsx";
import Layout from "@layouts/Layout.astro"
import RecipesList from "@components/RecipesList";
---

<Layout title="Recips Page">
    <body>
            <RecipesList  client:only/>
    </body>
</Layout>
<script>
    const title = localStorage.getItem('title');
    const subtitle = localStorage.getItem('subtitle');
    const body = localStorage.getItem('body');
</script>