---
import Layout from "@layouts/Layout.astro";
import SingleRecipe from '@components/SingleRecipe'
---

<Layout title="Riceps Page">
    <body>
        <SingleRecipe client:only />
    </body> 
</Layout>