<style>
  form {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      display: grid;
      gap: max(1em, 1.5vw);
      border-radius: 5px;
      box-sizing: border-box;
      padding: max(3em, 4vw) max(2em, 2.5vw);
      min-width: 320px;
      background-color: #191919;
}

input[type='text'] {
  background-color: #232323;
  border: none;
  width: 100%;
  height: 80%;
  color: #fff;
  font-size: 1.2em;
}

input[type='text']::placeholder {
  font-weight: bold;
}

input[type='submit']  {
      margin-top: 1em;
      border-radius: 5px;
      border: 1px solid transparent;
      padding: 0.5em 1em;
      background-color: #232323;
      font-size: 1.2em;
      color: green;
      transition: .3s ease;
}

input[type='submit']:hover {
  cursor: pointer;
  border-color: green;
}

</style>
<form >
    <label for="title">Title: <input id='title' type="text" placeholder="Title" required /></label>
    <label for="subtitle">Subtitle: <input id='subtitle' type="text" placeholder="Subtitle" required /></label>
    <label for="body">Body: <input id='body' type="text" placeholder="Body" required /></label>
    <input type="submit" value="Post Recipe"/>
</form>
<script>
  const form = document.querySelector('form')
  form?.addEventListener('submit', (e) => {
    e.preventDefault()
    const titleValue: string | number = (form.querySelector('#title') as HTMLInputElement).value
    const subtitleValue: string | number = (form.querySelector('#subtitle') as HTMLInputElement).value
    const bodyValue: string | number = (form.querySelector('#body') as HTMLInputElement).value

    const uniqueId = Date.now()
    sessionStorage.setItem(`title-${uniqueId}`, titleValue)
    sessionStorage.setItem(`subtitle-${uniqueId}`, subtitleValue)
    sessionStorage.setItem(`body-${uniqueId}`, bodyValue)
    console.log(uniqueId)
    window.location.href = "recipes/";
  })
</script>
 