<header>
    <h1>Recipes.here</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/create">Create</a></li>
        </ul>
    </nav>
</header>

<style>

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header ul {
        display: flex;
        gap: 2em;
    }

    li {
        list-style: none;
    }
</style>